# large generated data
ELO/temp.csv
ELO/LSTM/temp2.csv
# Python virtual environment
ELO/LSTM/tf_env/

# Keras / model outputs
ELO/LSTM/*.keras
basic/0401.py
basic/0402.py

# Data / outputs
complexity/delta_0/graphs/skill-elo.parquet
data/
test/
complexity/df_moves.csv
complexity/delta_0/peak.csv
complexity/delta_0/peak0.csv
complexity/delta_0/df1.parquet
complexity/delta_0/df2.parquet
complexity/delta_0/df_moves.csv
complexity/delta_0/df_moves1.parquet
complexity/delta_0/df_moves2.csv
complexity/delta_0/df_moves3.csv
complexity/delta_0/df_moves2.parquet
complexity/delta_0/df_moves3.parquet
complexity/delta_0/df_moves4.parquet
complexity/delta_0/df_moves5.parquet
complexity/delta_0/df_moves6.parquet
complexity/delta_0/graphs/df_moves7.parquet
complexity/delta_0/graphs/parameter_est_x0.csv
complexity/delta_0/graphs/parameter_est_2.csv

complexity/delta_0/clock_info.csv
complexity/delta_0/clock_info.parquet
complexity/delta_0/0314.parquet

complexity/delta_0/graphs/Figure1_Master_Publication_Final.pdf
complexity/delta_0/graphs/Figure1_Master_Publication_Repaired.pdf

complexity/delta_0/df_moves1-2.parquet

complexity/delta_0/df_moves2-2.csv
complexity/delta_0/df_moves3-2.csv

complexity/delta_0/dropforce.csv
complexity/delta_0/moves_optimized.parquet
complexity/delta_0/moves_final_forced.parquet

data - try2-rename/
data -trymore/
complexity/delta_0/0211.csv

# Jupyter Notebook checkpoints / temp files
*.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db