# large generated data
ELO/temp.csv
ELO/LSTM/temp2.csv
# Python virtual environment
ELO/LSTM/tf_env/

# Keras / model outputs
ELO/LSTM/*.keras

# Data / outputs
data/
test/

# Jupyter Notebook checkpoints / temp files
*.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
