# large generated data
ELO/temp.csv
ELO/LSTM/temp2.csv
# Python virtual environment
ELO/LSTM/tf_env/

# Keras / model outputs
ELO/LSTM/*.keras

# Data / outputs
data/
test/
complexity/df_moves.csv
complexity/delta_0/peak.csv
complexity/delta_0/peak0.csv

complexity/delta_0/dropforce.csv
complexity/delta_0/moves_optimized.parquet
complexity/delta_0/moves_final_forced.parquet

data - try2-rename/
data -trymore/
complexity/delta_0/0211.csv

# Jupyter Notebook checkpoints / temp files
*.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db